<div class="jumbotron">
  <h1 class="display-4">Welcome to Dark Net!</h1>
  <p class="lead"></p>
  <hr class="my-4">
</div>

<div class="container">
  <form action="<%= home_path%>" method="POST" class="form-inline row">
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
    <div class="col p-0">
      <input name="search" class="form-control w-100" type="search" placeholder="Search" aria-label="Search">
    </div>
    <select name="category" class="custom-select col-4 col-sm-3 mx-sm-1 " id="Select">    
      <option value="">Choose...</option>
      <% @categories.each do |category| %>
        <option type="text" value=<%= category.id %> >
          <%= category.name %>
        </option>
      <%end%>
    </select> 
    <button class="btn btn-outline-success col-3 col-sm-2" type="submit">
      Search
    </button >
  </form>
  <div class="d-flex bg-light h-100 b-radius row justify-content-around my-3">
  <% if @products %>
    <% @products.each do |product|%>
    
      <div class="card my-3 mt-3 p-0" style="width: 10rem;">
        <div class="h-50 d-flex">
          <div class="my-auto"><%= image_tag product.picture, class:"card-img-top" %></div>
          
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= product.title.capitalize %></h5>
               
          <p class="card-text my-0"><small>Price: $ <%= number_with_precision(product.price, precision: 2) %></small></p>
          <p class="card-text my-0 t-greem"><small>Available: <%= product.quantity_available %></small></p> 
          <p class="card-text t-red"><small>Sold: <%= product.sold %></small></p><small>         
          <%= link_to "See more", see_product_path(product.id)%></small>
        </div>
      </div>    
    <%end%>
    </div>
  <%end%>
</div>
