<div class="jumbotron mt-5">
  <h3 class="display-5">Welcome to Dark Net!</h3>
  <p class="lead"></p>
  <hr class="my-4">
</div>
<div class="container">
  <form action="<%= listing_path%>" method="get" class="form-inline row">
    
    <div onclick='toggle("filter","eye")' class="d-flex drop-down mb-2"><span >Filter</span><i class="material-icons pl-3" id="eye">visibility</i></div>      
    
    <div style="display: block " class="bg-light my-3 p-3 col-12" id="filter">
      <div class="d-flex mb-3">
        <div class="form-check col">
          <input class="form-check-input" type="radio" name="filter" id="filter1" value="title-asc" checked>
          <label class="form-check-label d-flex" for="radios1">
            <i class="material-icons pr-2">arrow_upward</i>
            <span>By "Name"</span>
          </label>
        </div>    
        <div class="form-check col">
          <input class="form-check-input" type="radio" name="filter" id="filter2" value="price-asc">
          <label class="form-check-label d-flex" for="radios2">
            <i class="material-icons pr-2">arrow_upward</i><span>By "Price"</span>
          </label>
        </div>
      </div>
      <div class="d-flex mt-2">
        <div class="form-check col">
          <input class="form-check-input" type="radio" name="filter" id="filter3" value="title-desc">
          <label class="form-check-label d-flex" for="radios1">
            <i class="material-icons pr-2">arrow_downward</i><span>
            By "Name"</span>
          </label>
        </div>    
        <div class="form-check col">
          <input class="form-check-input" type="radio" name="filter" id="filter4" value="price-desc">
          <label class="form-check-label d-flex" for="radios2">
            <i class="material-icons pr-2">arrow_downward</i><span>By "Price"</span>
          </label>
        </div>
      </div>
    </div>    
    <div class="col-12 p-0 d-flex justify-content-between">
    <div class="col-5 col-sm-6 p-0">
      <input name="search" class="form-control w-100" type="search" placeholder="Search" aria-label="Search">
    </div>
    <select name="category" class="custom-select col-4 w-100 col-sm-3" id="Select">    
      <option value="">Category...</option>
      <% @categories.each do |category| %>
        <option type="text" value=<%= category.id %> >
          <%= category.name %>
        </option>
      <%end%>
    </select> 
 
    <button class="btn btn-outline-success col-3 w-100 " type="submit">
      Search
    </button >
    </div>
    
  </form>
  <div class="d-flex bg-light overflow-hidden h-100 b-radius row justify-content-around my-4 py-4" >
    <% if @products %>
      <% @products.each do |product|%>      
        <div class="card my-3 mt-3 p-0 " style="width: 10rem;height: 26rem;">
          <%= link_to see_product_path(product.id) do %>
            <div style="height: 20rem;" >             
              <div class="h-50 d-flex b-radius">
                <%= image_tag product.picture, class:"img-fluid rounded mh-100 w-100 p-1" %>
              </div>  
              <div class="h-50 t-black card-body">
                <h5 class="card-title text-truncate"><%= product.title.capitalize %></h5>            
                <p class="card-text my-0"><small>Price: $ <%= number_with_precision(product.price, precision: 2) %></small>
                </p>
                <p class="card-text my-0 t-greem"><small>Available: <%= product.quantity_available %></small>
                </p> 
                <p class="card-text t-red"><small>Sold: <%= product.sold %></small>
                </p>           
              </div>
            </div>
          <% end %> 
          <div class="" style="height: 6rem;">
            <%= form_with url: add_favorite_path(product.id), local: true, method: :post do %> 
              <div id="<%= product.id%>" class="h-50 alert alert-success alert-dismissable m-0" style="display: none">
                <button type="button" class="close h-50" data-dismiss="alert" aria-hidden="true">&times;</button>
                  Saved!
              </div> 
              <button onclick='addFavorites("<%= product.id%>")' class=" white border-light mx-2 rounded">
                <i class="material-icons float-left text-left align-middle">favorite</i>
                <small>Add Favorite</small>              
              </button>  
                                  
            <%end%> 
            <%= link_to message_path(product.id) do %>
              <button class=" mt-3 white border-light mx-2 rounded">
                <i class="material-icons float-left align-middle ">question_answer</i>
                <small>Ask Seller</small>              
              </button>
              <%end%> 
              
          </div>  
                      
        </div>    
      <%end%>
    <%end%>
  </div>
  
</div>

<script>
  function addFavorites(id) {
    document.getElementById(id).style.display = 'block';  
 }
 
 function toggle(id,id2) {
  var x = document.getElementById(id);
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
  var y = document.getElementById(id2);
  if (y.innerHTML === "visibility") {
    y.innerHTML = "visibility_off";
  } else {
    y.innerHTML = "visibility";
  }
}
</script>
