
<div class="container" style="max-width: 36rem;">
<form action="/carts" method="POST">
  <h3>Hot Deal!</h3>
  <hr class="my-4">
  <div class="card m-auto">
    <%= image_tag @product.picture, class:"card-img-top"%>
    <div class="card-body">
      <h5 class="card-title">
        <%= @product.title%>
      </h5>
      <p class="card-text">
        <%= @product.description%>
      </p>
      <p class="card-text t-blue">Price AUD$ 
        <%= number_with_precision(@product.price, precision: 2)%>
      </p>
      <p class="card-text">Condition: 
        <%= @product.condition.name%>
      </p>
      <p class="card-text">Shipped From 
        <%= @product.shipped_from%> - Free Shipping
      </p>
      <p class="card-text">Delivery estimated 
        <%= @product.delivery_estimated%> days
      </p>

      
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">

        <p>Quantity 
          <select name="quantity" class="custom-select w-50 my-1 mx-sm-2" id="select">
            <option value="1" selected>1</option>
            <% 29.times do |i |%>
              <option value="<%= i + 2%>">
                <%= i + 2%>
              </option>
            <%end%>
          </select>
        </p>
        <p class="card-text t-red">Sold 
          <%= @product.sold%>
        </p>
        <p class="card-text t-greem">Available 
          <%= @product.quantity_available%>
        </p>
        <input type="hidden" name="product_id" value="<%= @product.id %>">
        <p class="card-text">
          <small class="text-muted">Last updated 
            <%= @product.created_at%>
          </small>
        </p>
      </div>
    </div>
    <button type="submit" name="path_mycart" value="true" class="btn btn-primary btn-lg btn-block my-3">Buy It Now!
    </button>
    <button type="submit" name="path_home" value="true" class="btn btn-info btn-lg btn-block my-3">Add To Cart!
    </button>


  <%= form_with url: add_favorite_path(@product.id), local: true, method: :post do %> 


  

  
 <button onclick='myFunction("<%= @product.id%>")' class="btn btn-danger btn-lg btn-block my-3 ">
                <i class="material-icons pr-4 align-middle">favorite</i>
                Save              
              </button>       

<%end%> 

  <%= link_to "Back" , root_path, class:"btn btn-light btn-lg btn-block my-3" %>
  </form>
</div>