<div class="jumbotron">
  <h1 class="display-4">My Cart!</h1>
  <p class="lead"></p>
  <hr class="my-4">
</div>


 
<div class="container">
  <% @cart_items.each do |item| %>
    <div class="row mt-5 justify-content-between">
      <div class="col-3">
        <h6 class="row mx-auto">Title</h6>
        <p class="row text-truncate"><%= item.product.title %></p>
      </div>

      <div class="col-3">
        <h6 class="row mx-auto">Condition</h6>
        <p class="row mx-auto"><%= item.product.condition.name %></p>
      </div>

      <div class="col-3 mx-auto">
        <h6 class="row mx-auto">Quantity</h6>
        <p class="row mx-auto"><%= item.quantity %></p>
      </div>

      <div class="col-3 mx-auto">
        <h6 class="row mx-auto">Price</h6>
        <p class="row mx-auto"><%= number_with_precision(item.price, precision: 2) %></p>
      </div>
      <div class="row col-12 mx-auto mt-1 mb-3">      
        <%= link_to 'See', cart_item_show_path(item.id), class:"btn btn-primary btn-sm mr-1" %>
        <% if @cart.payment.receipt_url%>
        <%= link_to 'Edit', cart_item_edit_path(item.id), class:"btn btn-warning btn-sm mr-1" %>
        <%= link_to 'Del', cart_item_destroy_path(item.id), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger btn-sm" %>  
        <%end%>      
      </div>  
    </div>    
  <% end %>
</div>




<div class="jumbotron">
<hr class="my-4">
  <h1 class="display-5">Total Amount   $AUD <%= number_with_precision(@cart.total_amount, precision: 2) %></h1>
  <p class="lead"></p>
  
</div>
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
<a href="<%= has_info? ? user_contact_info_path : new_user_contact_info_path %>"><button class="btn btn-primary btn-lg btn-block my-3 <%= user_signed_in? ? nil : "disabled" %>">Checkout!</button></a>

<%= link_to 'Continue Shopping', root_path, class:"btn btn-info btn-lg btn-block my-3" %>




