<p id="notice"><%= notice %></p>

<h1>Products</h1>
  
  <% @products.each do |product| %>
    <div class="row mt-5">
      <div class="col ">
        <h5 class="row">Title</h5>
        <p class="row"><%= product.title %></p>
      </div>

      <div class="col ">
        <h5 class="row">Price</h5>
        <p class="row"><%= number_with_precision(product.price, precision: 2) %></p>
      </div>

      <div class="col ">
        <h5 class="row">Available</h5>
        <p class="row"><%= product.quantity_available %></p>
      </div>

      <div class="col ">
        <h5 class="row">Sold</h5>
        <p class="row"><%= product.sold %></p>
      </div>

      <div class="col ">
        <h5 class="row">Category</h5>
        <p class="row"><%= product.category.name %></p>
      </div>

      <div class="col">      
        <%= link_to 'See', product, class:"btn btn-success btn-sm" %>
        <%= link_to 'Edit', edit_product_path(product), class:"btn btn-warning btn-sm" %>
        <%= link_to 'Del', product, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger btn-sm" %>        
      </div>  
    </div>    
  <% end %>
  


<br>

<%= link_to 'New Product', new_product_path, class:"btn btn-primary" %>
