<p id="notice"><%= notice %></p>


<div class="jumbotron">
  <h3 class="display-5">Product Details!</h3>
  <p class="lead"></p>
  <hr class="my-4">
</div>
<div class="bg-light col col-sm-6 p-3 mb-4">
<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @product.condition.name %>
</p>

<p>
  <strong>Shipped from:</strong>
  <%= @product.shipped_from %>
</p>

<p>
  <strong>Delivery est:</strong>
  <%= @product.delivery_estimated %>
</p>

<p>
  <strong>Available:</strong>
  <%= @product.quantity_available %>
</p>

<p>
  <strong>Sold:</strong>
  <%= @product.sold %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category.name %>
</p>

<p>
 
  <%= image_tag @product.picture, class:"b-radius w-100" %>
</p>
</div>

   
  <%= link_to 'Edit', edit_product_path(@product), class:"btn btn-warning mb-5 "%> 
  <%= link_to 'Back', products_path, class:"btn btn-secondary mx-3 mb-5" %>
