<!DOCTYPE html>
<html>
  <head>
    <title>Darknet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
         
    <%= render "shared/navbar" %>
    <div class="position-relative container"  > 
      <p class="notice mt-5 position-absolute mt-2" style="z-index:1"><%= notice %></p>
      <p class="alert position-absolute mt-2" style="z-index:1"><%= alert %></p>
    </div> 
    <div class="container">
      <%= yield %>
    </div> 
  </body>
</html>
